{% extends '@infra/layout.html.twig' %}

{% block content %}

    <p class="lead">My published ads</p>
    {% if ads is defined %}
        {% for ad in ads %}
            {% include '@infra/ad-item.html.twig' with {ad: ad, showOptions: true} %}
        {% else %}
            <div class="row">
                <div class="col-xs-12">
                    ...no ads.
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <br/>
{% if ads is defined %}
    <p class="lead">You have {{ ads|length }} ads.</p>
{% else %}
    <p class="lead">You have 0 ads :(</p>
{% endif %}
    <div class="row">
        <div class="col-xs-12">
            {% include "@infra/ad-form.html.twig" with {route: path('create-ad')} %}
        </div>
    </div>

    <br/>
    <p class="lead">My hard working earned badges...</p>
    {% if badges is defined %}
        {% for badge in badges %}
            {% include 'badge-item.html.twig' with {badge: badge} %}

        {% endfor %}
    {% else %}
        <div class="row">
            <div class="col-xs-12">
                No badges, for now.
            </div>
        </div>
    {% endif %}
{% endblock %}
