{% extends '@infra/layout.html.twig' %}

{% block content %}
    {% include '@infra/ad-item.html.twig' with {ad: ad} %}

    <br/>
    <p class="lead">Fine your ad...</p>
    <div class="row">
        <div class="col-xs-12">
            {% include "@infra/ad-form.html.twig" with {route: path('update-ad'), ad: ad} %}
        </div>
    </div>
{% endblock %}
